<title>Login</title>
{% extends 'layout.html' %}
{% block content %}
<body>
     <legend>Login your details to access more</legend>
<br>
{% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
        <p class="message">{{message}}</p>
        {% endfor %}
    {% endif %}
{% endwith %}
<div>
    <small>
    Don't have an account? <a href="{{ url_for('create_contributors') }}">Register Here</a>
    </small>
</div>
{% for contributor in contributors %}

 <form action="/login", method="POST">

        First Name: <input type="text", name="first_name", id="first_name">
        <br>
        <br>
        Last Name: <input type="text", name="last_name", id="last_name">
        <br>
        <br>
        Email: <input type="text", name="email", id="email">
        <br>
        <br>
        Username: <input type="text", name="username", id="username">
        <br>
        <br>
        Password: <input type="password", name="password", id="password">
        <br>
    <div>
        <button type="submit">Login</button>
    </div>
</form>
{% endfor %}

</body>
</html>
{% endblock %}