{% extends 'layout.html' %}
{% block content %}
<div>
<form method="'POST" action="/register">
    {{ form.hidden_tag() }}
    <fieldset>
            <legend>Become a Contributor Today</legend>


<br>
<br>

            <div>
                {{ form.username.label }}
                {% if form.username.errors %}
                    {{ form.username(class="is-invalid") }}
                        <div>class="invalid feedback"
                            {% for error in form.username.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                         </div>
                {% else %}
                    {{ form.username }}
                {% endif %}
            </div>
            <div>
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email(class="is-invalid") }}
                        <div>class="invalid feedback"
                            {% for error in form.email.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                         </div>
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
            <div>
                {{ form.password.label }}
                {% if form.password.errors %}
                    {{ form.password(class="is-invalid") }}
                        <div>class="invalid feedback"
                            {% for error in form.password.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                         </div>
                {% else %}
                    {{ form.password }}
                {% endif %}
            </div>
            <div>
                {{ form.confirm_password.label }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="is-invalid") }}
                        <div>class="invalid feedback"
                            {% for error in form.confirm_password.errors %}
                                <span>{{ errors }}</span>
                            {% endfor %}
                         </div>
                {% else %}
                    {{ form.confirm_password }}
                {% endif %}
            </div>
    </fieldset>
    <div>
    {{ form.submit }}
    </div>
</form>
</div>
<div>
    <small>
        Already a Contributor? <a href="{{ url_for('login') }}">Sign In</a>
    </small>
</div>

{% endblock content %}


